html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.root {
  font-family: 'Roboto' serif;
}
.root nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 1px 2px 4px #b3b3b3;
}
.root nav h4 {
  font-size: 2rem;
  font-family: 'Tangerine', serif;
}
.root nav a {
  text-decoration: none;
  color: #ff5a5f;
  transition: 0.1s ease-in-out;
}
.root nav a:hover {
  color: silver;
  transition: 0.1s ease-in-out;
  letter-spacing: 0.1rem;
}
.root nav .links a {
  margin-left: 1.5rem;
}
.root header {
  margin: 1rem;
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
}
.root header h1 {
  font-size: 2.5rem;
  width: 60%;
  text-align: center;
  margin: 1rem auto;
  color: #65636A;
}
.root header button {
  margin: 0.3rem auto;
  background: #ff5a5f;
  border-radius: 0.7rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.root header button:hover {
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
  background: #ff8d90;
  padding: 1rem;
  cursor: pointer;
}
.root .intro {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.root .intro h6 {
  margin: 0 auto;
  font-size: 0.7rem;
}
.root .intro h1 {
  width: 60%;
  margin: 0.3rem auto;
  font-size: 1.8rem;
  color: #65636A;
  font-family: 'Tangerine', serif;
}
.root .reviews {
  display: flex;
  margin: 0 auto;
  padding-top: 4rem;
  width: 90%;
  line-height: 2rem;
  border-top: 0.1rem solid #b2b0b6;
}
.root .reviews .review {
  width: 50%;
  margin: 0 1rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #b2b0b6;
}
.root .reviews .review h1 {
  color: blue;
  font-size: 4rem;
  font-family: 'Tangerine', cursive;
}
.root .reviews .review .bio {
  margin: 0.5rem 0;
  display: flex;
  line-height: 1rem;
  justify-content: start;
  align-items: center;
}
.root .reviews .review .bio img {
  width: 15%;
  background: #65636A;
  border-radius: 2rem;
}
.root .reviews .review .bio .details {
  margin-left: 0.5rem;
}
.root .reviews .review .bio .details h5 {
  font-family: 'Tangerine', serif;
  font-size: 2rem;
}
.root .reviews .review .bio .details h6 {
  font-family: cursive;
}
